$light-blue: #b9edfe;

.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
    margin-right: 20px;
    scale: 1.1;
}

.sidenav {
    width: 230px;
    border-radius: 30px;
}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    padding: 0 12px;
    min-height: 56px;
    display: flex;
    align-items: center;
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 58px);
}


.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;

    mat-icon {
        margin-right: 16px;
    }

    li {
        padding: 4px 16px;
        height: 42px;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 16px;
        border-radius: 16px;
        margin: 8px 0;
        cursor: pointer;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
            box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

.router-container {
    padding: 16px;
    box-shadow: inset 8px 2px 5px rgba(0, 0, 0, 0.02);
    background-image: url(./../../assets/img/paper_background.jpg);
    background-position: center;
    background-size: cover;
}

.logo {
    max-width: 100%;
    height: 40px;
}

.example-sidenav-content {

    span {
        font-size: 28px;
    }
}