<section>
    <div class="graphs-container">
        <mat-card class="line-chart-container">
            <mat-card-content>
                <div class="text-box">
                    <div class="graph-head">Total Sales</div>
                    <button mat-button [matMenuTriggerFor]="belowMenu1">
                        <span *ngIf="lineChart2023">2023</span>
                        <span *ngIf="lineChart2022">2022</span>
                        <span *ngIf="lineChart2021">2021</span>
                        <mat-icon class="icon">expand_more</mat-icon>
                    </button>
                    <mat-menu class="mat-menu" #belowMenu1="matMenu" yPosition="below">
                        <button mat-menu-item *ngIf="!lineChart2023" (click)="showLineChart2023()">
                            2023
                        </button>
                        <button mat-menu-item *ngIf="!lineChart2022" (click)="showLineChart2022()">
                            2022
                        </button>
                        <button mat-menu-item *ngIf="!lineChart2021" (click)="showLineChart2021()">
                            2021
                        </button>
                    </mat-menu>
                </div>

                <div *ngIf="showLineChart">
                    <canvas *ngIf="lineChart2023" baseChart width="850" height="350" [type]="'line'"
                        [data]="lineChartData2023" [options]="lineChartOptions2023" [legend]="lineChartLegend2023">
                    </canvas>

                    <canvas *ngIf="lineChart2022" baseChart width="850" height="350" [type]="'line'"
                        [data]="lineChartData2022" [options]="lineChartOptions2022" [legend]="lineChartLegend2022">
                    </canvas>

                    <canvas *ngIf="lineChart2021" baseChart width="850" height="350" [type]="'line'"
                        [data]="lineChartData2021" [options]="lineChartOptions2021" [legend]="lineChartLegend2021">
                    </canvas>
                </div>

            </mat-card-content>
        </mat-card>

        <mat-card class="doughnut-chart-container">
            <mat-card-content class="mat-card-content-line-chart">
                <div class="text-box">
                    <div class="graph-head">Product Sales</div>
                    <button class="btn-show-more" mat-button [matMenuTriggerFor]="belowMenu">
                        <span *ngIf="graphWeek" class="span-period">This week</span>
                        <span *ngIf="graphMonth" class="span-period">This month</span>
                        <span *ngIf="graphYear" class="span-period">This year</span>
                        <mat-icon class="icon">expand_more</mat-icon>
                    </button>
                    <mat-menu class="mat-menu" #belowMenu="matMenu" yPosition="below">
                        <button mat-menu-item *ngIf="!graphWeek" (click)="showGraphWeek()">
                            This week
                        </button>
                        <button mat-menu-item *ngIf="!graphMonth" (click)="showGraphMonth()">
                            This month
                        </button>
                        <button mat-menu-item *ngIf="!graphYear" (click)="showGraphYear()">
                            This year
                        </button>
                    </mat-menu>
                </div>


                <div *ngIf="showDonutChart" class="canvas-container">
                    <canvas *ngIf="graphWeek" baseChart [labels]="doughnutChartLabelsWeek"
                        [datasets]="doughnutChartDatasetsWeek" [options]="doughnutChartOptionsWeek" [legend]="false"
                        [type]="'doughnut'">
                    </canvas>

                    <canvas *ngIf="graphMonth" baseChart [labels]="doughnutChartLabelsMonth"
                        [datasets]="doughnutChartDatasetsMonth" [options]="doughnutChartOptionsMonth" [legend]="false"
                        [type]="'doughnut'">
                    </canvas>

                    <canvas *ngIf="graphYear" baseChart [labels]="doughnutChartLabelsYear"
                        [datasets]="doughnutChartDatasetsYear" [options]="doughnutChartOptionsYear" [legend]="false"
                        [type]="'doughnut'">
                    </canvas>
                </div>

                <div class="legend-box">
                    <span>Wireless Headphones</span>
                    <span>Ergonomic Keyboard</span>
                    <span>Smartwatch Fitness Tracker</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="container-review-sellstats">

        <div class="amount-container">
            <mat-card class="card-amount">
                <mat-card-content class="card-amount-content">
                    <div class="selling-infocard">New customer <br> this week</div>
                    <div>
                        <p class="sales-stats">+45</p>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="card-amount">
                <mat-card-content class="card-amount-content">
                    <div class="selling-infocard">Sales today</div>
                    <div class="amount-box">
                        <p class="sales-stats">+67</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="container-reviews">
            @for (review of this.reviewService.lastReviews; track $index) {
            <mat-card class="review-card">
                <mat-card-content>
                    <div>
                        <span *ngFor="let star of this.reviewService.getStars(review.rating); let i = index">
                            <mat-icon class="stars">star</mat-icon>
                        </span>
                        <p class="product-name">{{ review.product }}</p>
                        <p>{{ review.comment }}</p>
                        <p>{{ review.date }}</p>
                    </div>
                </mat-card-content>
            </mat-card>}
        </div>

    </div>



</section>