section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.graphs-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.line-chart-container {
    width: 55%;
    height: 50vh;
    min-width: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;

    canvas {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }
}

.doughnut-chart-container {
    width: 45%;
    height: 50vh;
    min-width: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;

    canvas {
        display: block;
        box-sizing: border-box;
        height: 100% !important;
    }
}

.canvas-container {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.amount-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    height: 37.5vh;

    .sales-stats {
        font-size: 2.3rem;
        text-align: center;
        padding: 20px;
        color: #5EDE60;
        font-weight: 600;
        white-space: nowrap;
        margin: 0;
    }
}

.legend-box {
    display: flex;
    width: 100%;
    gap: 30px;

    span {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
}

.card-amount-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 36px;
    background-color: #fff;
}

.selling-infocard {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}

.container-review-sellstats {
    display: flex;
    gap: 20px;
}

.container-reviews {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 37.5vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.review-card {
    border-radius: 36px;
}

.stars {
    color: yellow;
}

.product-name {
    font-size: 20px;
    font-weight: 500;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.graph-head {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 4px;
}

@media(max-width: 1100px){
    .graphs-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .doughnut-chart-container {
        width: 100%;
        height: 50vh;
    }

    .line-chart-container {
        width: 100%;
    }
}

@media(max-height: 1000px) {
    .mat-card-content-line-chart {
        scale: 0.8;
    }
}

@media(max-height: 800px) {
    .mat-card-content-line-chart {
        scale: 0.7;
    }
}